@page "/productlist"
@using ProductPricing.Shared.Dtos
@using System.Globalization
@inherits ProductListBase

<h3>Product List</h3>

@if (products == null)
{
    <p>Loading...</p>
}
else
{
    <RadzenTable style="height:80vh">
        <RadzenTableHeader>
            <RadzenTableHeaderRow>
                <RadzenTableHeaderCell>Product Id</RadzenTableHeaderCell>
                <RadzenTableHeaderCell>Product Name</RadzenTableHeaderCell>
                <RadzenTableHeaderCell>Product Price</RadzenTableHeaderCell>
                <RadzenTableHeaderCell>Last Updated</RadzenTableHeaderCell>
                <RadzenTableHeaderCell>Actions</RadzenTableHeaderCell>
            </RadzenTableHeaderRow>
        </RadzenTableHeader>

        <RadzenTableBody>
            @foreach (var item in products)
            {
                <RadzenTableRow>
                    <RadzenTableCell>@item.Id</RadzenTableCell>
                    <RadzenTableCell>@item.Name</RadzenTableCell>
                    <RadzenTableCell>@item.Price.ToString("C", new CultureInfo("en-GB"))</RadzenTableCell>
                    <RadzenTableCell>@item.LastUpdated</RadzenTableCell>

                    <RadzenTableCell>
                        <RadzenButton Text="History"
                                      ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      Click="@(async () => await OpenHistory(item.Id))" />
                    </RadzenTableCell>
                </RadzenTableRow>
            }
        </RadzenTableBody>
    </RadzenTable>
}